@use '../utils/mixins';

.title {
  font-family: "Shrikhand";
}

.text-center {
  text-align: center;

  @include mixins.breakpoint-tablet {
    width: 100%;
  }
}

.center-self {
  margin: auto;
}